@model ProductViewModel
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        @for (int i = 0; i < Model.ImageUrls.Count; i++)
                        {
                            <a class="pt @(i == 0 ? "active" : "")" href="#product-@(i + 1)">
                                <img src="@Model.ImageUrls[i]" alt="">
                            </a>
                        }
                    </div>
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            @for (int i = 0; i < Model.ImageUrls.Count; i++)
                            {
                                <img data-hash="product-@(i + 1)" class="product__big__img" src="@Model.ImageUrls[i]" alt="">
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product__details__text">
                    <h3>@Model.Name <span>InochisChickPaws</span></h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    @{
                        var price = Model.Price;
                        var discountPrice = Convert.ToDouble(price) - (Convert.ToDouble(price) * 0.1);
                    }
                    <div class="product__details__price">@discountPrice TL <span>@price TL</span></div>
                    <div class="product__details__button">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-area=""
                                  asp-controller="ShoppingCart"
                                  asp-action="AddToCart">
                                <input type="hidden" name="productId" value="@Model.Id" />
                                <input type="hidden" name="quantity" value="1" />
                                <button type="submit" class="site-btn">Sepete-Ekle</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
